@tailwind base;
@tailwind components;
@tailwind utilities;

.bricolage{
  font-family: "Bricolage Grotesque", sans-serif;
}

/* Glow Text Effect */
.glow-text {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

/* Glow Button Effect */
.glow-button {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease;
}

.glow-button:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
}